body {
    margin: 0;
    
    font-family: 'Montserrat',sans-serif;
}
.cloud-1 {
    position: absolute;
    right: 150px;
    top: 50px;
}
.top {
    background-color: #EFFFFD;
    margin: 0;
    text-align: center;
    padding-top: 100px;
}

.cloud-3 {
    position: absolute;
    left: 100px;
    top: 50px;
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}
.cloud-2 {
    position: absolute;
    left: 240px;
}

.cloud-4 {
    position: absolute;
    right: 40px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

hr {
    width: 6%;
    margin: 70px auto 70px auto;
    border-style: dotted none none none;
    border-width: 10px;
    color: #AAD8D3;
}

.botm {
    text-align: center;
    margin: 100px auto 0 auto;
    background-color: #66BFBF;
    width: 100%;
    height: 130px;
    padding-top: 50px;
}

.mid {
    text-align: center;
}

b {
    font-weight: bold;
}

.sec2 {
    margin: 3px auto 5px auto;
    color: #1B1A17;
}

h3 {
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}

strong {
    font-weight: bold;
}

.sec1 {
    margin-bottom: 5px;
    color: #1B1A17;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.py-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2 ;
}
b {
    font-weight: bold;
}
.copyrigt {
    color: #E4F6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.skill-row{
    padding: 10px;
}